.men {
  background: #b89fa4;
  height: 100vh;
  font-family: "Playfair Display SC", serif;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 30px 0;
}

.men h2 {
  font-size: 100px;
  font-weight: 600;
}

.tab_menu {
  display: flex;
}

.tab_menu li {
  position: relative;
  margin-right: 30px;
  font-size: 32px;
  letter-spacing: 1px;
  cursor: pointer;
}

.tab_menu li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 2px;
  background: #fff;
  transition: .3s;
}
.tab_menu li.active::before,
.tab_menu li:hover::before {
  left: 0%;
  width: 100%;
}

.condition {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  font-weight: 600;
  padding-bottom: 5px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.9);
}

.total span {
  font-family: "roboto";
}

.option {
  display: flex;
}

.option li {
  margin-left: 15px;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  font-size: 14px;
}

.option li:hover,
.option li.active {
  color: #fff
}